[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[user]
    name = dankeroni
    email = theofpanagiotis@gmail.com
    signingkey = B0B5B8CF
[push]
    default = simple
    recurseSubmodules = check
[core]
    editor = nvim
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
[commit]
    gpgsign = true
[web]
    browser = firefox
[alias]
    st = "status"
    df = "diff"
    co = "!command -v commit >/dev/null 2>&1 || yarn global add @commitlint/cli @commitlint/config-conventional @commitlint/prompt-cli && commit"
    cl = "clone --recursive"
    flog = "log -p --follow"
    up = "fetch upstream"
[github]
    user = dankeroni
[pull]
    rebase = false
[rerere]
    enabled = true
