[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[user]
    name = dankeroni
    email = theofpanagiotis@gmail.com
    signingkey = B0B5B8CF
[gui]
[gui]
[gui]
[gui]
[gui]
[push]
    default = simple
[core]
    editor = nvim
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
[commit]
    gpgsign = true
[web]
    browser = chrome
[alias]
    st = "status"
    df = "diff"
    co = "commit"
    cl = "clone --recursive"
    flog = "log -p --follow"
    up = "fetch upstream"
[github]
    user = dankeroni
[pull]
	rebase = false
